div{
  
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button{
  font-size: 50px;
  width: 1.5em;
  height: 1.5em;

}



p{
  color: black;
  font-size: 70px;
  font-weight: bold;
}